.profile {
  margin: 100px auto;
  max-width: 800px;
  border: 5px solid lightgrey;
  border-radius: 30px;
  padding: 30px;
  text-align: center;
}

.title {
}

.userInfo {
  margin-bottom: 15px;
}

.header {
  color: black;
}

.label {
  color: black;
}

.span {
  color: black;
}

button {
  margin: 0 5px;
}

.notif {
  display: none;
}

p {
  color: lightgray;
}

@media (min-width: 1920px) {
  .title {
    font-size: 24px;
  }
  h6 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .profile {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .profile {
    margin: 0 auto;
  }
}
