.header {
  color: black;
}

.label {
  color: black;
}

.span {
  color: black;
}

button {
  margin: 0 5px;
}

.notif {
  display: none;
}

@media (max-width: 800px) {
  .profile {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .profile {
    margin: 0 auto;
  }
}
