.NavBar {
    background-color: #252E4F;
}

.NavBar p {
    color: #F7F7FF;
    font-family: Roboto;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: 2px 2px 8px #E34A6F;
}

.NavBar p:hover {
    color: #9EE493;
    text-decoration: none;
}

.NavBar p:active {
    color: #E34A6F;
    text-decoration: none;
}

.NavBar .title {
    font-size: 55px;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: Roboto;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 8px #E34A6F;
}

.NavBar .title:hover {
    color: #9EE493;
    text-decoration: none;
}

.NavBar .menuLinks {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Roboto;
    color: black;
    cursor: pointer;
    text-decoration: none;

}

.menuLinks:hover {
    color: #9EE493;
    text-decoration: none;
}

.menuLinks:active {
    color: #E34A6F;
    text-decoration: none;
}

a {
    text-decoration: none; 
}
